* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: #f9f9f9;
    color: #333;
    height: 100vh;
    overflow: auto;
}

.container {
    margin: 4px;
    height: 96vh;
    display: flex;
    flex: 1;
    outline: 1px solid blue;
    overflow: hidden;
}

.left,
.right {
    flex: 1;
    outline: 1px solid blue;
    background-color: white;
    transition: flex 0.4s ease, width 0.4s ease;
    overflow: auto;
}
.expand{
    flex: 2;
    width: 100%;
}
.hidden{
    flex: 0;
    width: 0;
}
#patientForm {
    overflow: auto;
}

#patientData {
    height: 94%;
    overflow: auto;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: small;
    outline: 1px solid blue;
    padding: 4px;
    flex-wrap: wrap;
}

/* h1 {
    text-align: center;
    margin-bottom: 8px;
    font-size: xx-large;
    color: #222;
} */

.row {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
    margin-bottom: 2px;
    margin-top: 10px;
    padding: 6px;
    /* justify-content: center; */
    align-items: center;
}

label {
    /* flex-basis: 100%; */
    font-weight: 500;
    margin-bottom: 2px;
}

input,
select,
button {
    padding: 4px;
    font-size: small;
    border: 1px solid #ccc;
    border-radius: 4px;
    flex: 1;
}

input:focus,
select:focus {
    outline: none;
    border-color: #009c46;
    background-color: #caffe2;
}

.input-error {
    background-color: #ffcaca;
    border: 1px solid #9c0000;
}

button {
    background-color: #009c46;
    color: white;
    border: none;
    cursor: pointer;

}

button:hover {
    background-color: red;
}

.buttons {
    margin-left: 10px;
    gap: 10px;
    margin-top: 10px;
}

.buttons button[type="reset"] {
    background-color: #e0e0e0;
    color: #333;
}

.buttons button[type="reset"]:hover {
    background-color: #c2c2c2;
}

/* #edit{
    display: none;
} */

@media only screen and (max-width: 768px) {

    .container {
        width: 98%;
        height: auto;
        display: flex;
        flex-direction: column;
    }
    .left,.right{
        width: 100%;
    }

    #patientData {
        height: 80vh;
        width: 100%;
    }

    #patientForm {
        overflow: scroll;
        height: fit-content;
        width: 100%;
    }

    label {
        flex-basis: 100%;
        font-weight: 500;
        margin-bottom: 2px;
    }
    .header span{
        display: none;
    }
}

.fullscreenToggle {
    cursor: pointer;
    user-select: none;
}

#deleteRecord{
    max-width: 10%;
    background: red;
    display: none;
}

#search{
    margin: 4px 10px;
}
.duration{
    margin: 4px 10px;
}